body { 
    font-family: 'Poppins', sans-serif; 
    background:linear-gradient(90deg, #ee7752, #e73c7e);
}



/*Container da aplicação principal*/
.main { 
    
    width: 400px; 
    margin: 120px auto; 
    margin-bottom: 95px;
    padding: 20px; 
    border: 3px solid #ccc;
    border-radius: 15px;
    background:linear-gradient(360deg, #ee7752, #e73cc8 ) ;
    

}

/*Cabeçalho da  aplicação*/

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

/*Inputs de descrição e valor*/

input[type=text], input[type=number] { 
    
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

/*Botão adicionar*/

button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-table; 
    justify-content: space-between;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
}

/*Botão remover*/
button.remover {
    
    background-color:  #ee5f52 ;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
   }
   
   .b:hover {
    background-color: #CC0000;
    margin-left: 15px;

   }
   
#saldo { 
    margin-top: 20px; 
    font-weight: bold; }

.roda-pe{
    text-align: center;
  
}

    
